body {background-color:#fafafa}
.rounded {border-radius:0.4rem!important}
.rounded-top {border-radius:0.4rem 0.4rem 0 0!important}
.rounded-bottom {border-radius:0 0 0.4rem 0.4rem!important}

.custom-radio-login {position:relative}
.custom-radio-login input{display:none}
.custom-radio-login label{cursor:pointer;position:relative;box-shadow:0 0 0 2px transparent}


.login-container {
    height: 100vh;
}



.formm{
    height: 30% !important;
    width: 30% !important;
}

.logo1{
  height:290px;
  width: 400px;
}

.center {
 
  margin-left: 290px;
}


.card1-rep{
  margin-top: 70px;
  margin-left: 170px;
  width: 40%;
  height: 40%;
  box-shadow: 10px 10px 8px 10px #888888;


}
.card2-rep{
  margin-top: 130px;
  margin-left: 80px;
}

.heading{
  color: rgb(17, 16, 15);
}

.button1{
  margin-top: 30px;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  background-color: rgb(71, 66, 83);
  border-color: transparent;
}
