*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

.container{
    display : flex;
    align-items: space-between;
    justify-content: space-between;
    flex-direction: column;
}
.header{
    padding : 1vh;
    background-color:#00a0b2;
    font-weight: 700;
    color: white;
    font-size: 7vh;
    text-align: center;
}
.heading{
    display:flex;
    justify-content: space-around;
    padding : 2vh;
    background-color:gray;
    font-size: 3vh;
}
.data{
    display: flex;
    justify-content: space-around;
    padding : 1vh;
    margin-top:1vh;
    background-color:gray;
}
.list{
    display : flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80vw;
    border: 5px solid #00a0b2;
    margin-top: 2vh;
    box-shadow: 8px 8px 8px gray;
    border-radius: 10px;
}

.add-btn{
   position : sticky;
   left : 90%;
   top : 90%;
   width: 10vh;
   height: 10vh;
    border-radius: 50%;
    text-align: center;
    font-size: 8vh;
    border: none;
    background-color: #00e5ff;
}

.del-btn{
    padding : .5vh;
    background-color: rgb(228, 99, 99);
    color:white;
    text-decoration: none;
    border : none;
    width: 5vw;
    height: 5vh;
    border-radius: 5px;
}
.del-btn:hover{
    color: rgb(59, 59, 109);
}