body {background-color:#fafafa}
.rounded {border-radius:0.4rem!important}
.rounded-top {border-radius:0.4rem 0.4rem 0 0!important}
.rounded-bottom {border-radius:0 0 0.4rem 0.4rem!important}

.custom-radio-login {position:relative}
.custom-radio-login input{display:none}
.custom-radio-login label{cursor:pointer;position:relative;box-shadow:0 0 0 2px transparent}


.login-container {
    height: 100vh;
}

.center {
 
  margin-left: 290px;
}

.logo1{
   height:290px;
   width: 400px;
}

.card1-imp{
  margin-top: 70px;
  margin-left: 200px;
  width: 40%;
  height: 40%;
  box-shadow: 10px 10px 8px 10px #888888;


}
.card2-imp{
  margin-top: 110px;
  margin-left: 80px;
}

.formm{
    height: 30% !important;
    width: 30% !important;
}

.heading{
  color: rgb(3, 3, 3);
}

.button1{
  margin-top: 30px;
  width: 150px;
  height: 50px;
  background-color: rgb(67, 59, 97);
  border-color: transparent;
  border-radius: 10px;
}
