.heading {
  font-family: "Roboto";
  font-size: 30px;
  font-style: bold;
  text-align: center;
  color: cornsilk;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
}
body {
  display: flex;
  background-color: #2b3137;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
.card-container {
  display: flex;
  background: white;
  box-sizing: border-box;
  padding: 30px 40px;
  justify-content: center;
  flex-direction: column;
  min-height: 50vh;
  min-width: 50vh;
  border-radius: 10px;
}
.header {
  padding: 30px 0 30px 0;
  text-align: center;
}
.header h1 {
  font-size: 21px;
}
.input_area {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-content: center;
  text-align: center;
}
.input_area input {
  /* width: 100%; */
  margin: 10px 0;
  border: 1px grey solid;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 12px;
  outline: none;
  color: grey;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.actions {
  text-align: center;
  padding: 30px 0 10px 0;
}
.actions button {
  background-color: lightpink;
  border: none;
  border-radius: 20px;
  padding: 5px 25px;
  cursor: pointer;
}

.reset_link {
  text-align: center;
}
