.taskpage-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#taskpage-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2vh;
  padding: 5vh;
  background-color: #33eaff;
  color: black;
  font-weight: 700;
}

#taskpage-header label {
  background-color: #33eaff;
}

#taskpage-header label input {
  border: none;
  height: 4vh;
  border-radius: 5px;
}
.display-content {
  display: flex;
  justify-content: space-around;
  margin-top: 1vh;
}
.data {
  display: flex;
  justify-content: space-around;
  margin-top: 1vh;
  border-top: 3px solid black;
  padding: 2vh;
}
.data-container {
  border: 3px solid black;
  height: 80vh;
  width: 70vw;
  margin: 0 auto;
}
h2 {
  text-align: center;
  margin: 1vh 0px;
  color: black;
  font-weight: 700;
}
input {
  width: 15vw;
}
.task {
  background-color: #33eaff;
  padding: 5%;
  border-radius: 5px;
  box-shadow: 5px 8px 4px gray;
}
/*
.start{
    background-color: #33eaff;
    padding: 5%;
    border-radius:5px;
    box-shadow: 5px 8px 4px gray;
}

.end{
    background-color: #33eaff;
    padding: 5%;
    border-radius:5px;
    box-shadow: 5px 8px 4px gray;
} */
/* button{
    text-align:center;
    background-color: green;
    padding: 2vh;
    border : none;
} */

#addtask-btn {
  text-align: center;
  border: none;
  font-size: x-large;
  margin: 0px auto;
  background-color: #2b2684;
  color: white;
  margin-bottom: 5vh;
  border-radius: 5px;
  padding: 5px;
}
#submit-btn {
  text-align: center;
  border: none;
  font-size: x-large;
  margin: 0px auto;
  background-color: #2b2684;
  color: white;
  margin-bottom: 5vh;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5vh;
}
