.mainDiv1{
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    font-family: "Open Sans", sans-serif;
  }
  .cardStyle1 {
    width: 350px;
    border-color: white;
    background: #fff;
    padding: 36px 0;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.25);
  }
  #password,#empid,#security_answer,#security_question {
  height: 40px;
  width: 250px;
  border-radius: 15px;
  padding-left: 15px;
  border: 1px solid #2b2684;
  margin-bottom: 10px;
  position: relative;
}
  #signupLogo {
    max-height: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .formTitle1 {
    font-weight: 600;
    margin-top: 20px;
    color: #2f2d3b;
    font-size: 20px;
    font-style: "Roboto";
    text-align: center;
    margin-left: 40px;
  }
  .inputLabel1 {
    font-size: 12px;
    color: #555;
    margin-bottom: 6px;
    margin-top: 24px;
  }
  .inputDiv1 {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .input1 {
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    border: solid 1px #ccc;
    padding: 0 11px;
  }
  .input1:disabled1 {
    cursor: not-allowed;
    border: solid 1px #eee;
  }
  .buttonWrapper {
    margin-top: 40px;
    display: flex;
    margin-right: 10px;
  }
  #submit-Button {
    width: 30%;
    height: 40px;
    margin-left: 40px;
    display: block;
    color: #fff;
    background-color: #a7baca;
    border-color: #065492;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  #submit-Button:disabled,
  button[disabled] {
    border: 1px solid #cccccc;
    background-color: #cccccc;
    color: #666666;
  }
  
  /* #loader {
    position: absolute;
    z-index: 1;
    margin: -2px 0 0 10px;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #666666;
    width: 14px;
    height: 14px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
   */