*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

.header{
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom : 2vh ;
    padding : 5vh;
    background-color: #33eaff;
    color : white;
    font-weight: 700;
}

.header label{
    background-color: #33eaff;
}

.header label input{
    border : none;
    height : 4vh;
    border-radius: 5px;
}
.display-content{
    display:flex;
    justify-content: space-around;
    margin-top : 1vh;
}
.data{
    display:flex;
    justify-content: space-around;
    margin-top : 1vh;
    border-top : 3px solid black;
    padding  : 2vh;
}
.data-container{
    border: 3px solid black;
    height: 80vh;
    width:70vw;
    margin: 0 auto;
}
h2{
    text-align: center;
    margin : 3vh  0px;
}
/* .task{
    background-color: #33eaff;
    padding: 5%;
    border-radius:5px;
    box-shadow: 5px 8px 4px gray;
}

.start{
    background-color: #33eaff;
    padding: 5%;
    border-radius:5px;
    box-shadow: 5px 8px 4px gray;
}

.end{
    background-color: #33eaff;
    padding: 5%;
    border-radius:5px;
    box-shadow: 5px 8px 4px gray;
} */
button{
    text-align:center;
    background-color: green;
    padding: 2vh;
    border : none;
}

