.profile-container1{
  display:flex;
  justify-content: space-between;

}
.profile-card1{
   display: flex;
   flex-direction: column;
   width: 30%;
   justify-content: center;
   align-items: center;
   box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
   height: 300px;
}
.card-heading1{
  padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.img-account-profile1{
  height: 10rem;
}
.profile-details1{
  display: flex;
   flex-direction: column;
   width: 65%;
   box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
   padding: 10px;
}
.input-container1{
display: flex;
align-items: center;
justify-content: space-around;
margin : 3vh
}
.form-input1{
  display: block;
    width: 80%;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn1{
  background-color: rgb(62, 94, 233);
  padding: 10px;
  color: white;
  border: 0px;
  border-radius: 10px;
}
#profile-data{
  height: 80vh;
}
#inner-data{
margin:0px auto;
}
.profile-label{
width: 60vw;
}